.button-producto {
  background-color: #0a283e;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-producto:hover {
  background-color: #0a283e8d;
  color: #fff;
}
